/.devpanel/dumps/
/.devpanel/salt.txt
/.editorconfig
/.gitattributes
/config/sync/.htaccess
/logs/
/private/

# Dependencies managed by Composer.
/CONTRIBUTING.md
/patches.lock.json
/recipes/
!/recipes/provus_edu_recipe/
/vendor
/web/
!/web/modules/custom/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100
.Trashes

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store