.node--type-provus-academic-course {
  .field--label-inline {
    .field__label, .field__item {
      @include text-style-headline-h-5;
      font-weight: 600;
    }

    .field__label {
      &:after {
        content: ":";
      }
    }

    .field__item {
      color: $text-colors-text-secondary;
      margin-left: 20px;
    }
  }

  .field--name-field-provus-ac-about {
    margin-bottom: 60px;
    
    .field__label {
      @include text-style-headline-h-4;
      font-weight: 600;
      margin-top: 60px;
      font-size: 24px !important;
      color: $text-colors-text-secondary;
    }

    .field__item {
      @include text-style-body-body-1;
      font-weight: 400;
    }
  }

  .field--type-entity-reference {
    margin-bottom: 0;
  }
}